name: myapp
description: "A new Flutter project."
publish_to: 'none' # Proyecto privado, no publicar en pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  # Almacenamiento seguro (m칩vil/desktop)
  flutter_secure_storage: ^9.0.0

  # Para Web (emula dart:html sin romper m칩vil)
  universal_html: ^2.2.4

  # Manejo de estados (opcional pero recomendado)
  provider: ^6.0.5

  # Para llamadas HTTP a tu API
  http: ^1.1.0

  # Para almacenamiento local sencillo (opcional)
  shared_preferences: ^2.1.1

  # Iconos estilo iOS
  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  # Buenas pr치cticas de c칩digo
  flutter_lints: ^2.0.1

  # Utilidades de caracteres
  characters: ^1.3.0

flutter:
  uses-material-design: true
  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
